@import url('https://fonts.googleapis.com/css?family=Lobster:regular');

* {
    font-family: 'Lobster', sans-serif;
}

body {
    background: rgb(238, 250, 252);
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    max-width: 750px;
    margin: auto;
}

h1 {
    text-align: center;
}

h2 {
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.info {
    margin: 0;
    display: flex;
    background: #fff9dc;
    border-radius: 25px;
    margin-bottom: 20px;
    box-shadow: 3px 3px 3px #333;
}

.info img {
    border: 1px solid #333;
    padding: 0;
    margin: 15px;
    box-shadow: 3px 3px 3px #333;
}

@media (max-width: 750px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info ul {
    font-size: 14px;
}

.avatar {
    padding: 15px;
    border-radius: 15%;
    width: 260px;
    height: 260px;
}

.list {
    padding-top: 23px;
    padding: auto;
    margin: 0;
    list-style: none;
}

.social {
		
    background: #e5ffe7;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
}

.box1 {
		display: flex;
		justify-content: center;
}

.box2 {
    list-style: none;
}

.table1 {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

.table1 tr th {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(149, 145, 145);
}

.blocks {
    position: relative;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px #333;
    background: #e5ffe7;
    width: 100%;
    height: 150px;
}

.block .block1 {
    position: absolute;
    box-sizing: border-box;
    left: 32%;
    bottom: 10%;
}

.block2 .block1 {
    position: absolute;
    box-sizing: border-box;
    left: 57%;
    bottom: 10%;
}

.block3 .block1 {
    position: absolute;
    box-sizing: border-box;
    left: 80%;
    bottom: 10%;
}

.block4 .block1 {
    position: absolute;
    box-sizing: border-box;
    left: 8%;
    bottom: 10%;
}

.icons {
    width: 70px;
}

.block1:hover {
    opacity: 0.5;
		transition: all 0.3s ease-in;
}